@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
:root {
  --main-color: #e1b34e;
  --section-color: #e9f2fa;
}
/* normalize */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
/* components */
.container {
  width: 70%;
  margin: 0 auto;
}

.main-button {
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 15px 51px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.2px;
}

.main-button:hover {
  color: black;
  background-color: white;
}
/* components end*/
/* Header start*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header .links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.links li {
  font-weight: normal;
  padding: 10px 20px;
  font-size: 1rem;
}

.links li a {
  color: black;
}

.links li:first-child a,
.links li:first-child a:hover {
  color: blue;
}

.links li a:hover {
  transition: 0.4s;
  color: #df5794;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
/* End Of Header */
/* Start Of Landing */
.landing {
  height: calc(100vh - 62px);
  background-image: url(../assets/Landing.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.landing .text {
  width: 400px;
}

.landing .text * {
  margin: 20px 0;
}

.landing h1 {
  font-weight: normal;
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  word-wrap: break-word;
}

.landing .tel {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 31px 0;
  font-size: 1.875rem;
}

.landing .tel a {
  color: black;
}

.landing .tel i {
  color: var(--main-color);
  cursor: pointer;
}

.landing .tel:hover a {
  color: #478ac9;
  cursor: pointer;
}

.freepik a {
  color: var(--main-color);
}
/* End Of Landing */
/* features start */
.features {
  margin: 50px 0;
}

.features .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features .top * {
  flex-basis: calc(100% / 2);
  vertical-align: middle;
}

.features .top h2 {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
}

.features .top p {
  margin-top: 20px;
}

.features .top ul li {
  margin: 10px 0;
}

.features .top ul li i {
  color: var(--main-color);
}

.features .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features .cards .side {
  flex-basis: calc(100% / 2);
}

.features .cards .side .card {
  margin: 50px 0 10px;
}

.features .cards .side .card .logo {
  background-color: var(--main-color);
  fill: white;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.features .cards .side .card h2 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.features .cards .side .card *:not(svg) {
  margin: 20px 0;
}

/* features end */
/* About us start */
.aboutus {
  background-color: var(--section-color);
  height: 700px;
}

.aboutus .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.aboutus .content div {
  flex-basis: calc(100% / 2);
}

.aboutus .container div.img {
  align-self: center;
}

.aboutus .container div img {
  display: inline-block;
  height: 522px;
}

.aboutus .text h2 {
  margin: 100px 0 50px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
}

.aboutus .text p:not(.freepik) {
  margin: 20px 0 50px;
  padding-left: 10px;
}

.aboutus .about_links {
  display: block;
  color: black;
  width: 100%;
  padding: 15px;
  background-color: white;
  font-weight: bold;
}

.aboutus .about_links:not(:nth-of-type(1)):hover {
  background-color: #ddd;
}

.aboutus p.freepik {
  margin: 30px 0;
  padding: 0 10px;
}

/* About us end */
/* Reservation Start */
.reservation {
  margin: 70px auto 0;
  text-align: center;
}

.reservation blockquote {
  font-weight: bold;
  font-size: 2.25rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  width: 842px;
  margin: 70px auto 20px;
}
/* Reservation End */
/* Plans Start */
.plans {
  background-color: var(--section-color);
  margin-top: 50px;
  height: 600px;
}

.plans .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.plans .card {
  flex-basis: calc(100% / 3 - 20px);
  /*text-align: center;
  */
  background-color: white;
  padding: 10px;
  height: 500px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.plans .card .logo {
  background-color: var(--main-color);
  fill: white;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.plans .card h3 {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  margin: 30px auto 0;
}

.plans .card .price {
  font-size: 2.25rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  margin: 20px auto 0;
}

.plans .card .price span {
  font-weight: bold;
}

.plans .card .bio {
  margin: 22px 21px 50px;
  color: #b3b3b3;
}
/* Plans End */
/* Gallery Starts */
.gallery {
  margin-top: 70px;
  text-align: center;
}

.gallery .container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  margin-bottom: 30px;
}

.gallery .container p.text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 39px auto 0;
}

.gallery .container .images {
  text-align: center;
  margin: 41px 0 61px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gallery .container .images .img {
  flex-basis: calc(100% / 3);
  padding: 5px;
  position: relative;
}

.gallery .container .images .img:hover img {
  filter: brightness(0.5);
  transition: 0.9s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  -webkit-filter: brightness(0.5);
}

.gallery .container .images .img img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* Gallery Ends */
/* Testimonials start */
.testimonials {
  background-color: var(--section-color);
  padding: 10px;
  height: 600px;
  text-align: center;
}

.testimonials .container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 60px auto 30px;
}

.testimonials .container .reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  text-align: left;
}

.testimonials .container .reviews .review {
  margin: 0 20px;
  padding: 30px;
  background-color: white;
  min-height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials .container .reviews .review .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.testimonials .container .reviews .review:nth-child(1) .pic {
  background-image: url("../assets/r1.jpg");
}

.testimonials .container .reviews .review:nth-child(2) .pic {
  background-image: url("../assets/r2.jpeg");
}

.testimonials .container .reviews .review .opinion {
  color: #999999;
  font-size: 1rem;
}

.testimonials .container .reviews .review .signature {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

/* Testimonials end */
/* learn more start */
.learnmore {
  margin: 60px auto;
}

.learnmore .container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.learnmore .container .content {
  flex-basis: 40%;
}

.learnmore .container .content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  margin-bottom: 30px;
}

.learnmore .container .content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: normal;
  margin-bottom: 30px;
}
.learnmore .container .content .main-button {
  padding: 20px 51px;
}
/* learn more end */
/* Form Start */
.form {
  background-image: url(../assets/form.jpg);
  height: 700px;
  background-size: cover;
  background-position: center;
/* text-align: right; */
}

.form .container  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.form form {
  width: 500px;
  /* margin-top: 20px; */
}

.form form div {
margin: 10px auto;
}

.form form div *{
display: block;
}

.form form div input,
.form form div textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.form form div input::placeholder,
.form form div textarea::placeholder {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.half {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.half div {
  width: 50%;
}

.half div:nth-child(1) {
  margin-right: 20px;
}

.form form .main-button {
  width: 100%;
  margin: 20px auto 30px;
}

.form form .main-button:hover {
background-color:#dea834;
color: white;
}

.form form .freepik {
  text-align: right;
}
/* Form End */
/* Footer Start */
.footer {
  background-color: #333;
}
.footer .container  div{
text-align: center;
height: 120.352px;
line-height: 120.352px;
color: white;
}
.footer .container  div a {
  font-size: 1rem;
  color: var(--main-color);
}

body {
  position: relative;
}

.scroll-top {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px ;
  color: var(--main-color);
}

/* Footer End */